<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>orginImg</key>
		<string>a0.jpg</string>
		<key>newsImg</key>
		<string>b0.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a1.jpg</string>
		<key>newsImg</key>
		<string>b1.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a2.jpg</string>
		<key>newsImg</key>
		<string>b2.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a3.jpg</string>
		<key>newsImg</key>
		<string>b3.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a4.jpg</string>
		<key>newsImg</key>
		<string>b4.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a5.jpg</string>
		<key>newsImg</key>
		<string>b5.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a6.jpg</string>
		<key>newsImg</key>
		<string>b6.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a7.jpg</string>
		<key>newsImg</key>
		<string>b7.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a8.jpg</string>
		<key>newsImg</key>
		<string>b8.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a9.jpg</string>
		<key>newsImg</key>
		<string>b9.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a910.jpg</string>
		<key>newsImg</key>
		<string>b910.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a911.jpg</string>
		<key>newsImg</key>
		<string>b911.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a912.jpg</string>
		<key>newsImg</key>
		<string>b912.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a913.jpg</string>
		<key>newsImg</key>
		<string>b913.jpg</string>
	</dict>
	<dict>
		<key>orginImg</key>
		<string>a914.jpg</string>
		<key>newsImg</key>
		<string>b914.jpg</string>
	</dict>
    <dict>
        <key>orginImg</key>
        <string>a1.jpg</string>
        <key>newsImg</key>
        <string>b1.jpg</string>
    </dict>
    <dict>
        <key>orginImg</key>
        <string>a916.png</string>
        <key>newsImg</key>
        <string>b916.png</string>
 </dict>
    <dict>
        <key>orginImg</key>
        <string>a918.png</string>
        <key>newsImg</key>
        <string>b918.png</string>
    </dict>
</array>
</plist>
